<div id="container">
    <form action="" id="Logout">
        <button type="submit">Logout</button>
        
    </form>
   

   <h1>Bienvenido, {{user.first_name }}</h1>
    <h2>Rol: {{user.rol}}</h2>
    <h3>Lista de productos</h3>
    {{#each productos}}

<h3>{{this.title}}</h3>
<p id="idp">id:{{this._id}}</p>
<p>descripcion:{{this.description}}</p>
<p>precio:{{this.price}}</p>
<p>categoria: {{this.category}}</p>
<p>stock: {{this.stock}}</p>
<button id="agregar" >Agregar</button>
{{/each}}


</div>
<script src="./logout.js"></script>